@import "~bootstrap/scss/bootstrap";
@import "./styles/_variables.scss";

.App {
  text-align: center;
  background-color: #282c34;
  color: azure;
  min-height: 100vh;
  .App-header {
    height: 50%;
  }
  .example {
    background-color: $defaultBgColor;
    height: 200px;
    width: 100%;
    .column {
      height: 100%;
      background-color: brown;
      border: 1px solid black;
    }
  }
}

.App.light {
  background-color: antiquewhite;
  color: #282c34;
}

.mySwiper .swiper-wrapper {
  padding-bottom: 35px;
}
